.authentication{
    display:flex;
    align-items:center;
    height:100vh;
    background-image: url('./auth.svg');
}
.authentication .ant-row{
    width:100%;
    justify-content: center !important;
}

.authentication form{
    background-color: white;;
    padding:15px;
}