.item .name{
    color:tomato;
    font-size: 20px;
}
.item .price{
    text-align:center;
    color:rgba(0,0,0,0.699);
    font-size: 20px;
}
.item{
    box-shadow: 0 0 3px #ccc;
    padding:15px;
    margin-top: 20px;
}
.item button{
    background-color: rgb(74, 218, 74) !important;
    color:white !important;
    margin-top: 15px;
}

input{
    border:1px solid #000 !important;
    outline:none !important;
    box-shadow:none !important;
}

.ant-select-selected{
    border:1px solid #000 !important;
    outline:none;
    box-shadow:none;
}
